* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.app-container {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(10, 1fr);
  grid-template-areas:
    "nav" "hero" "hero" "hero" "hero"
    "shop" "shop" "shop" "footer" "footer";
  position: relative;
  /* z-index: -3; */
}
.blur {
  /* filter: blur(20px); */
}
.navbar-section {
  grid-area: nav;
  border: 1px solid;
}
.nav-bar-mobile {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: "logo logo . . . . . . icon icon ";
}
.logo-nav {
  grid-area: logo;
  border: 1px solid;
  font-size: 35px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-nav {
  grid-area: icon;
  border: 1px solid;
  font-size: 35px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
}
.white {
  color: white;
  position: absolute;
  top: 15px;
  z-index: 2;
}
.black {
  color: rgba(0, 0, 0, 0.575);
}
.menu {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  background-color: black;
  z-index: -1;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(10, 1fr);
  color: white;
  grid-template-areas: "." "item" "item" "item" "item" "item" "item" "btn" "btn" ".";
}
.menu-items {
  grid-area: item;
  /* border: 1px solid; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.menu-items li {
  list-style: none;
}
.menu-items li a {
  text-decoration: none;
  color: white;
}
.menu-btn {
  grid-area: btn;
  /* border: 1px solid; */
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  color: white;
  padding: 35px;
}
.menu-btn button {
  border-radius: 25px;
  font-size: 30px;
  font-weight: bold;
}
/* ! ----------------------------- */
.nav-bar-tablet {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: "logo logo . . . . . . btn btn";
}
.logo-section-navbar {
  grid-area: logo;
  border: 1px solid;
  font-size: 35px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
.link-section {
  grid-area: item;
  border: 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 40px;
}
.link-section li {
  list-style: none;
}
.link-section li a {
  text-decoration: none;
  color: black;
}
.btn-section-auth {
  grid-area: btn;
  border: 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
  position: relative;
  z-index: 0;
}
.menu-btn-2 {
  grid-area: btn;
  /* border: 1px solid; */
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  color: white;
  padding: 55px 35px;
}
.menu-btn-2 button {
  border-radius: 20px;
  font-size: 30px;
  font-weight: bold;
}
/* ! ----------------------------- */
.nav-bar-desktop {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: "logo item item item item item item btn btn btn";
}
.logo-section-navbar-desktop {
  grid-area: logo;
  border: 1px solid;
  font-size: 50px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
.link-section-desktop {
  font-weight: bold;
  grid-area: item;
  border: 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 40px;
  font-size: 23px;
  padding: 0px 10px;
}
.link-section-desktop li {
  list-style: none;
}
.link-section-desktop li a {
  text-decoration: none;
  color: black;
}
.btn-section-auth-desktop {
  grid-area: btn;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 40px 10px;
}
.btn-section-auth-desktop button {
  border-radius: 10px;
  font-size: 23px;
  font-weight: bold;
}
/* ! ----------------------------- */
.hero-section {
  grid-area: hero;
  border: 1px solid;
}
.shop-section {
  grid-area: shop;
  border: 1px solid;
}
.footer-section {
  grid-area: footer;
  border: 1px solid;
}

@media (min-width: 768px) {
  .app-conatiner {
    width: 100%; /* Slightly narrower for tablet */
    padding: 24px;
    font-size: 40px;
    background-color: wheat;
  }
  .nav-section-b {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr;
  }
}

/* Desktop (min-width: 1024px) */
@media (min-width: 1024px) {
  .app-conatiner {
    width: 100%; /* Narrowest for desktop */
    padding: 32px;
    font-size: 50px;
    background-color: rgb(0, 91, 91);
  }
}
